In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
#%cd /content/drive/MyDrive/cssws2023

[Errno 2] No such file or directory: '/content/drive/MyDrive/cssws2023'
/Users/hirokitakikawa/Library/CloudStorage/Dropbox/UT_nlp_workshop/workshop2024

# pandas入門
## pandasについて
- pandasはRのデータフレームの思想を引き継いだデータ処理のためのモジュールです。
- Rのデータフレームと同じく，データを表形式で操作できます。データ処理、分析のためには必須のモジュールといえます。

In [3]:
import pandas as pd
import plotly.express as px#練習用のデータフレームを用いるためにplotyもimportします。

### データフレームの構造
- データフレームは次のようなindexとcolumnsをもつ構造となっています。

<img src="https://raw.githubusercontent.com/berutaki/github.io/main/2-0.png" width="500">

- plotlyのサンプルtipsを実際に読み込んでみます。

In [4]:
tips = px.data.tips()

In [5]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

- 列名は.columnsに格納されています。

In [6]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

- 各列を一列として取り出すとシリーズというオブジェクトになります。

```{note}
シリーズはindexはもちますが、columnsはもちません。

In [7]:
tips.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [8]:
tips.total_bill.index

RangeIndex(start=0, stop=244, step=1)

```{tip}
- シリーズの中身の値をとり出したい場合は.valuesに格納されています。

In [9]:
tips.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243])

### データの確認
- データの中身を確認するいくつかのメソッドを紹介します。
- shapeには（行数,列数）がタプル型で格納されています。

In [10]:
tips.shape

(244, 7)

- describe()は要約統計量を出力します。

In [11]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [12]:
tips.total_bill.describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

- value_counts()はカテゴリ変数のカテゴリ数を数えます。

In [13]:
tips.sex.value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

- unique()はユニークな値を返します。

In [14]:
tips.day.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

## データフレームの基本的操作
- データフレームの操作の基本は以下の5つにまとめることができます。
  1. データ選択・条件によるフィルタリング
  2. 変数の追加・リコード
  3. ソート
  4. フィルタリング
  5. groupby

### データ選択
- 列の選択はhoge.列名かhoge['列名']で行います。

In [15]:
tips.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [16]:
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

- 二列以上の選択は、リストを使って、hoge[['列名1','列名2']]とします。

In [17]:
tips[['total_bill','tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

- 行の選択はhoge[2:3]のように範囲で指定します。

In [18]:
tips[1:2]

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3

```{error}
- 範囲を指定しないとエラーが出るので注意してください。例えば、1行目を取り出したいからとhoge[1]のようにするとエラーとなります。

In [20]:
tips[1]

KeyError: 1

#### iloc()とloc()
- 選択には他に、iloc()とloc()という紛らわしいメソッドがあります。
- まず.iloc()はindex（行）番号と列番号の両方を指定して選択します。

In [21]:
#以後、iloc
tips.iloc[10,2]

'Male'

In [22]:
tips.iloc[2:,:4]#[2]行目以降、最初から[3]列目まで

     total_bill   tip     sex smoker
2         21.01  3.50    Male     No
3         23.68  3.31    Male     No
4         24.59  3.61  Female     No
5         25.29  4.71    Male     No
6          8.77  2.00    Male     No
..          ...   ...     ...    ...
239       29.03  5.92    Male     No
240       27.18  2.00  Female    Yes
241       22.67  2.00    Male    Yes
242       17.82  1.75    Male     No
243       18.78  3.00  Female     No

[242 rows x 4 columns]

In [23]:
tips.iloc[:,:4]

     total_bill   tip     sex smoker
0         16.99  1.01  Female     No
1         10.34  1.66    Male     No
2         21.01  3.50    Male     No
3         23.68  3.31    Male     No
4         24.59  3.61  Female     No
..          ...   ...     ...    ...
239       29.03  5.92    Male     No
240       27.18  2.00  Female    Yes
241       22.67  2.00    Male    Yes
242       17.82  1.75    Male     No
243       18.78  3.00  Female     No

[244 rows x 4 columns]

```{note}
- indexの数字のみを指定すると、該当行がシリーズで取得されます。

In [24]:
tips.iloc[1]

total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 1, dtype: object

- loc()はindex番号（or index名）と列名で選択。

```{attention}
- つまりiloc()は列番号、loc()は列名で指定するという違いです。

In [25]:
#以後loc
tips.loc[:,'sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [26]:
tips.loc[:4,['sex','smoker']]

      sex smoker
0  Female     No
1    Male     No
2    Male     No
3    Male     No
4  Female     No

```{note}
- loc()の場合も同じく、indexの数字のみを指定すると、該当行がシリーズで取得されます。

In [27]:
tips.loc[1]

total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 1, dtype: object

### 変数の追加、削除
- 変数の追加はdf['変数名'] = hogeとします。

In [28]:
tips['test'] = 'test'

In [29]:
tips.head()#testが追加されている

   total_bill   tip     sex smoker  day    time  size  test
0       16.99  1.01  Female     No  Sun  Dinner     2  test
1       10.34  1.66    Male     No  Sun  Dinner     3  test
2       21.01  3.50    Male     No  Sun  Dinner     3  test
3       23.68  3.31    Male     No  Sun  Dinner     2  test
4       24.59  3.61  Female     No  Sun  Dinner     4  test

- 削除したい場合は、tips.drop('変数名', axis = 1)とします。

In [30]:
tips = tips.drop('test', axis = 1)#axis = 1は列を指す，0は行。

In [31]:
tips.head()#testが削除されている

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 変数の値のリコード
- リコードとは、変数の値のラベルを変えたり、カテゴリ化したりすることです。

- カテゴリの値のラベルを変えるにはreplace()を使います。

In [32]:
tips['weekend'] = tips.day.replace({'Sun':'weekend', 'Sat':'weekend', 'Thur':'weekday','Fri':'weekday'})#replaceメソッドを使って、day列の値を置換しています。

In [33]:
tips.weekend.value_counts()#weekendとweekdayの数を数える

weekend
weekend    163
weekday     81
Name: count, dtype: int64

```{tip}
map()を使っても同じことができます。

In [34]:
#mapメソッドを使って、day列の値を置換しています。
tips['weekend'] = tips.day.map({'Sun':'weekend', 'Sat':'weekend', 'Thur':'weekday','Fri':'weekday'})

- 連続変数のカテゴリ化にはcut()を使います。

In [35]:
bins = [0,10,20,30,40,100]
labels = ['0-10','11-20','21-30','31-40','41+']
tips['bill_cat'] = pd.cut(tips.total_bill,bins = bins,labels = labels)

In [36]:
tips['bill_cat'].value_counts()

bill_cat
11-20    130
21-30     65
31-40     22
0-10      17
41+       10
Name: count, dtype: int64

- apply()で列の各値に関数を適用できます。
- 例えば、float64となっているtip列の型変換をしたいとします。

In [37]:
tips.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

- apply()でround関数を適用します。

In [38]:
tips.tip.apply(round)#シリーズの個々の値に適用し、int64が返される。

0      1
1      2
2      4
3      3
4      4
      ..
239    6
240    2
241    2
242    2
243    3
Name: tip, Length: 244, dtype: int64

In [39]:
round(tips.tip)#これでも動くが、シリーズの元のtypeが維持されてfloat64となる。

0      1.0
1      2.0
2      4.0
3      3.0
4      4.0
      ...
239    6.0
240    2.0
241    2.0
242    2.0
243    3.0
Name: tip, Length: 244, dtype: float64

In [40]:
tips.tip.apply(int)

0      1
1      1
2      3
3      3
4      3
      ..
239    5
240    2
241    2
242    1
243    3
Name: tip, Length: 244, dtype: int64

```{error}
- tips.tipはシリーズなので直接intなどとして型変換をすることはできません。

In [41]:
int(tips.tip)#これはできない

TypeError: cannot convert the series to <class 'int'>

- 型変換についてはapply()ではなく、astype()というメソッドを用いても可能です。

In [42]:
tips.tip.astype(int)#型変換のためのメソッドastype()がある。

0      1
1      1
2      3
3      3
4      3
      ..
239    5
240    2
241    2
242    1
243    3
Name: tip, Length: 244, dtype: int64

### 変数のソート

- ソートにはsort_values()として引数にソートの基準としたい変数名を入れます。

In [43]:
tips.sort_values("total_bill",ascending=False)

     total_bill    tip     sex smoker   day    time  size  weekend bill_cat
170       50.81  10.00    Male    Yes   Sat  Dinner     3  weekend      41+
212       48.33   9.00    Male     No   Sat  Dinner     4  weekend      41+
59        48.27   6.73    Male     No   Sat  Dinner     4  weekend      41+
156       48.17   5.00    Male     No   Sun  Dinner     6  weekend      41+
182       45.35   3.50    Male    Yes   Sun  Dinner     3  weekend      41+
..          ...    ...     ...    ...   ...     ...   ...      ...      ...
149        7.51   2.00    Male     No  Thur   Lunch     2  weekday     0-10
111        7.25   1.00  Female     No   Sat  Dinner     1  weekend     0-10
172        7.25   5.15    Male    Yes   Sun  Dinner     2  weekend     0-10
92         5.75   1.00  Female    Yes   Fri  Dinner     2  weekday     0-10
67         3.07   1.00  Female    Yes   Sat  Dinner     1  weekend     0-10

[244 rows x 9 columns]

- nlargest(10,"変数名")とすると指定した変数のトップ10を抽出できる。

In [44]:
tips.nlargest(10,"total_bill")

     total_bill    tip     sex smoker   day    time  size  weekend bill_cat
170       50.81  10.00    Male    Yes   Sat  Dinner     3  weekend      41+
212       48.33   9.00    Male     No   Sat  Dinner     4  weekend      41+
59        48.27   6.73    Male     No   Sat  Dinner     4  weekend      41+
156       48.17   5.00    Male     No   Sun  Dinner     6  weekend      41+
182       45.35   3.50    Male    Yes   Sun  Dinner     3  weekend      41+
102       44.30   2.50  Female    Yes   Sat  Dinner     3  weekend      41+
197       43.11   5.00  Female    Yes  Thur   Lunch     4  weekday      41+
142       41.19   5.00    Male     No  Thur   Lunch     5  weekday      41+
184       40.55   3.00    Male    Yes   Sun  Dinner     2  weekend      41+
95        40.17   4.73    Male    Yes   Fri  Dinner     4  weekday      41+

### 問題1

- gapminderデータセットを使ってデータ選択や変数のリコードの問題を解きます。

In [45]:
gapminder = px.data.gapminder()

#### 問題1-1
- データフレームgapminderから、最初の5行を選択して表示してください。

In [46]:
gapminder.head(5)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

- データフレームgapminderから、カラム 'country' と 'continent' のみを選択して表示してください。

In [47]:
gapminder[['country','continent']]

          country continent
0     Afghanistan      Asia
1     Afghanistan      Asia
2     Afghanistan      Asia
3     Afghanistan      Asia
4     Afghanistan      Asia
...           ...       ...
1699     Zimbabwe    Africa
1700     Zimbabwe    Africa
1701     Zimbabwe    Africa
1702     Zimbabwe    Africa
1703     Zimbabwe    Africa

[1704 rows x 2 columns]

- データフレームgapminderから、インデックス番号10から19までの行を選択して表示してください。

In [48]:
gapminder.iloc[10:20]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
10,Afghanistan,Asia,2002,42.129,25268405,726.734055,AFG,4
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
12,Albania,Europe,1952,55.230,1282697,1601.056136,ALB,8
13,Albania,Europe,1957,59.280,1476505,1942.284244,ALB,8
14,Albania,Europe,1962,64.820,1728137,2312.888958,ALB,8
15,Albania,Europe,1967,66.220,1984060,2760.196931,ALB,8
16,Albania,Europe,1972,67.690,2263554,3313.422188,ALB,8
17,Albania,Europe,1977,68.930,2509048,3533.003910,ALB,8
18,Albania,Europe,1982,70.420,2780097,3630.880722,ALB,8
19,Albania,Europe,1987,72.000,3075321,3738.932735,ALB,8

#### 問題1-2
- データフレームgapminderの'country'カラム内の 'United States' を 'USA' に置き換えてください。
  - "pd.options.display.max_rows = None"とすると全行表示可能

In [49]:
pd.options.display.max_rows = None
gapminder["country"] = gapminder["country"].replace({"United States": "USA"})
print(gapminder)

                       country continent  year   lifeExp         pop  \
0                  Afghanistan      Asia  1952  28.80100     8425333
1                  Afghanistan      Asia  1957  30.33200     9240934
2                  Afghanistan      Asia  1962  31.99700    10267083
3                  Afghanistan      Asia  1967  34.02000    11537966
4                  Afghanistan      Asia  1972  36.08800    13079460
5                  Afghanistan      Asia  1977  38.43800    14880372
6                  Afghanistan      Asia  1982  39.85400    12881816
7                  Afghanistan      Asia  1987  40.82200    13867957
8                  Afghanistan      Asia  1992  41.67400    16317921
9                  Afghanistan      Asia  1997  41.76300    22227415
10                 Afghanistan      Asia  2002  42.12900    25268405
11                 Afghanistan      Asia  2007  43.82800    31889923
12                     Albania    Europe  1952  55.23000     1282697
13                     Albania    Europe  1957  59.28000     1476505
14                     Albania    Europe  1962  64.82000     1728137
15                     Albania    Europe  1967  66.22000     1984060
16                     Albania    Europe  1972  67.69000     2263554
17                     Albania    Europe  1977  68.93000     2509048
18                     Albania    Europe  1982  70.42000     2780097
19                     Albania    Europe  1987  72.00000     3075321
20                     Albania    Europe  1992  71.58100     3326498
21                     Albania    Europe  1997  72.95000     3428038
22                     Albania    Europe  2002  75.65100     3508512
23                     Albania    Europe  2007  76.42300     3600523
24                     Algeria    Africa  1952  43.07700     9279525
25                     Algeria    Africa  1957  45.68500    10270856
26                     Algeria    Africa  1962  48.30300    11000948
27                     Algeria    Africa  1967  51.40700    12760499
28                     Algeria    Africa  1972  54.51800    14760787
29                     Algeria    Africa  1977  58.01400    17152804
30                     Algeria    Africa  1982  61.36800    20033753
31                     Algeria    Africa  1987  65.79900    23254956
32                     Algeria    Africa  1992  67.74400    26298373
33                     Algeria    Africa  1997  69.15200    29072015
34                     Algeria    Africa  2002  70.99400    31287142
35                     Algeria    Africa  2007  72.30100    33333216
36                      Angola    Africa  1952  30.01500     4232095
37                      Angola    Africa  1957  31.99900     4561361
38                      Angola    Africa  1962  34.00000     4826015
39                      Angola    Africa  1967  35.98500     5247469
40                      Angola    Africa  1972  37.92800     5894858
41                      Angola    Africa  1977  39.48300     6162675
42                      Angola    Africa  1982  39.94200     7016384
43                      Angola    Africa  1987  39.90600     7874230
44                      Angola    Africa  1992  40.64700     8735988
45                      Angola    Africa  1997  40.96300     9875024
46                      Angola    Africa  2002  41.00300    10866106
47                      Angola    Africa  2007  42.73100    12420476
48                   Argentina  Americas  1952  62.48500    17876956
49                   Argentina  Americas  1957  64.39900    19610538
50                   Argentina  Americas  1962  65.14200    21283783
51                   Argentina  Americas  1967  65.63400    22934225
52                   Argentina  Americas  1972  67.06500    24779799
53                   Argentina  Americas  1977  68.48100    26983828
54                   Argentina  Americas  1982  69.94200    29341374
55                   Argentina  Americas  1987  70.77400    31620918
56                   Argentina  Americas  1992  71.86800    33958947
57                   Argentina  Americas  1997  73.27500    36203463
58                   Argentina  Americas  2002  74.34000    38331121
59                   Argentina  Americas  2007  75.32000    40301927
60                   Australia   Oceania  1952  69.12000     8691212
61                   Australia   Oceania  1957  70.33000     9712569
62                   Australia   Oceania  1962  70.93000    10794968
63                   Australia   Oceania  1967  71.10000    11872264
64                   Australia   Oceania  1972  71.93000    13177000
65                   Australia   Oceania  1977  73.49000    14074100
66                   Australia   Oceania  1982  74.74000    15184200
67                   Australia   Oceania  1987  76.32000    16257249
68                   Australia   Oceania  1992  77.56000    17481977
69                   Australia   Oceania  1997  78.83000    18565243
70                   Australia   Oceania  2002  80.37000    19546792
71                   Australia   Oceania  2007  81.23500    20434176
72                     Austria    Europe  1952  66.80000     6927772
73                     Austria    Europe  1957  67.48000     6965860
74                     Austria    Europe  1962  69.54000     7129864
75                     Austria    Europe  1967  70.14000     7376998
76                     Austria    Europe  1972  70.63000     7544201
77                     Austria    Europe  1977  72.17000     7568430
78                     Austria    Europe  1982  73.18000     7574613
79                     Austria    Europe  1987  74.94000     7578903
80                     Austria    Europe  1992  76.04000     7914969
81                     Austria    Europe  1997  77.51000     8069876
82                     Austria    Europe  2002  78.98000     8148312
83                     Austria    Europe  2007  79.82900     8199783
84                     Bahrain      Asia  1952  50.93900      120447
85                     Bahrain      Asia  1957  53.83200      138655
86                     Bahrain      Asia  1962  56.92300      171863
87                     Bahrain      Asia  1967  59.92300      202182
88                     Bahrain      Asia  1972  63.30000      230800
89                     Bahrain      Asia  1977  65.59300      297410
90                     Bahrain      Asia  1982  69.05200      377967
91                     Bahrain      Asia  1987  70.75000      454612
92                     Bahrain      Asia  1992  72.60100      529491
93                     Bahrain      Asia  1997  73.92500      598561
94                     Bahrain      Asia  2002  74.79500      656397
95                     Bahrain      Asia  2007  75.63500      708573
96                  Bangladesh      Asia  1952  37.48400    46886859
97                  Bangladesh      Asia  1957  39.34800    51365468
98                  Bangladesh      Asia  1962  41.21600    56839289
99                  Bangladesh      Asia  1967  43.45300    62821884
100                 Bangladesh      Asia  1972  45.25200    70759295
101                 Bangladesh      Asia  1977  46.92300    80428306
102                 Bangladesh      Asia  1982  50.00900    93074406
103                 Bangladesh      Asia  1987  52.81900   103764241
104                 Bangladesh      Asia  1992  56.01800   113704579
105                 Bangladesh      Asia  1997  59.41200   123315288
106                 Bangladesh      Asia  2002  62.01300   135656790
107                 Bangladesh      Asia  2007  64.06200   150448339
108                    Belgium    Europe  1952  68.00000     8730405
109                    Belgium    Europe  1957  69.24000     8989111
110                    Belgium    Europe  1962  70.25000     9218400
111                    Belgium    Europe  1967  70.94000     9556500
112                    Belgium    Europe  1972  71.44000     9709100
113                    Belgium    Europe  1977  72.80000     9821800
114                    Belgium    Europe  1982  73.93000     9856303
115                    Belgium    Europe  1987  75.35000     9870200
116                    Belgium    Europe  1992  76.46000    10045622
117                    Belgium    Europe  1997  77.53000    10199787
118                    Belgium    Europe  2002  78.32000    10311970
119                    Belgium    Europe  2007  79.44100    10392226
120                      Benin    Africa  1952  38.22300     1738315
121                      Benin    Africa  1957  40.35800     1925173
122                      Benin    Africa  1962  42.61800     2151895
123                      Benin    Africa  1967  44.88500     2427334
124                      Benin    Africa  1972  47.01400     2761407
125                      Benin    Africa  1977  49.19000     3168267
126                      Benin    Africa  1982  50.90400     3641603
127                      Benin    Africa  1987  52.33700     4243788
128                      Benin    Africa  1992  53.91900     4981671
129                      Benin    Africa  1997  54.77700     6066080
130                      Benin    Africa  2002  54.40600     7026113
131                      Benin    Africa  2007  56.72800     8078314
132                    Bolivia  Americas  1952  40.41400     2883315
133                    Bolivia  Americas  1957  41.89000     3211738
134                    Bolivia  Americas  1962  43.42800     3593918
135                    Bolivia  Americas  1967  45.03200     4040665
136                    Bolivia  Americas  1972  46.71400     4565872
137                    Bolivia  Americas  1977  50.02300     5079716
138                    Bolivia  Americas  1982  53.85900     5642224
139                    Bolivia  Americas  1987  57.25100     6156369
140                    Bolivia  Americas  1992  59.95700     6893451
141                    Bolivia  Americas  1997  62.05000     7693188
142                    Bolivia  Americas  2002  63.88300     8445134
143                    Bolivia  Americas  2007  65.55400     9119152
144     Bosnia and Herzegovina    Europe  1952  53.82000     2791000
145     Bosnia and Herzegovina    Europe  1957  58.45000     3076000
146     Bosnia and Herzegovina    Europe  1962  61.93000     3349000
147     Bosnia and Herzegovina    Europe  1967  64.79000     3585000
148     Bosnia and Herzegovina    Europe  1972  67.45000     3819000
149     Bosnia and Herzegovina    Europe  1977  69.86000     4086000
150     Bosnia and Herzegovina    Europe  1982  70.69000     4172693
151     Bosnia and Herzegovina    Europe  1987  71.14000     4338977
152     Bosnia and Herzegovina    Europe  1992  72.17800     4256013
153     Bosnia and Herzegovina    Europe  1997  73.24400     3607000
154     Bosnia and Herzegovina    Europe  2002  74.09000     4165416
155     Bosnia and Herzegovina    Europe  2007  74.85200     4552198
156                   Botswana    Africa  1952  47.62200      442308
157                   Botswana    Africa  1957  49.61800      474639
158                   Botswana    Africa  1962  51.52000      512764
159                   Botswana    Africa  1967  53.29800      553541
160                   Botswana    Africa  1972  56.02400      619351
161                   Botswana    Africa  1977  59.31900      781472
162                   Botswana    Africa  1982  61.48400      970347
163                   Botswana    Africa  1987  63.62200     1151184
164                   Botswana    Africa  1992  62.74500     1342614
165                   Botswana    Africa  1997  52.55600     1536536
166                   Botswana    Africa  2002  46.63400     1630347
167                   Botswana    Africa  2007  50.72800     1639131
168                     Brazil  Americas  1952  50.91700    56602560
169                     Brazil  Americas  1957  53.28500    65551171
170                     Brazil  Americas  1962  55.66500    76039390
171                     Brazil  Americas  1967  57.63200    88049823
172                     Brazil  Americas  1972  59.50400   100840058
173                     Brazil  Americas  1977  61.48900   114313951
174                     Brazil  Americas  1982  63.33600   128962939
175                     Brazil  Americas  1987  65.20500   142938076
176                     Brazil  Americas  1992  67.05700   155975974
177                     Brazil  Americas  1997  69.38800   168546719
178                     Brazil  Americas  2002  71.00600   179914212
179                     Brazil  Americas  2007  72.39000   190010647
180                   Bulgaria    Europe  1952  59.60000     7274900
181                   Bulgaria    Europe  1957  66.61000     7651254
182                   Bulgaria    Europe  1962  69.51000     8012946
183                   Bulgaria    Europe  1967  70.42000     8310226
184                   Bulgaria    Europe  1972  70.90000     8576200
185                   Bulgaria    Europe  1977  70.81000     8797022
186                   Bulgaria    Europe  1982  71.08000     8892098
187                   Bulgaria    Europe  1987  71.34000     8971958
188                   Bulgaria    Europe  1992  71.19000     8658506
189                   Bulgaria    Europe  1997  70.32000     8066057
190                   Bulgaria    Europe  2002  72.14000     7661799
191                   Bulgaria    Europe  2007  73.00500     7322858
192               Burkina Faso    Africa  1952  31.97500     4469979
193               Burkina Faso    Africa  1957  34.90600     4713416
194               Burkina Faso    Africa  1962  37.81400     4919632
195               Burkina Faso    Africa  1967  40.69700     5127935
196               Burkina Faso    Africa  1972  43.59100     5433886
197               Burkina Faso    Africa  1977  46.13700     5889574
198               Burkina Faso    Africa  1982  48.12200     6634596
199               Burkina Faso    Africa  1987  49.55700     7586551
200               Burkina Faso    Africa  1992  50.26000     8878303
201               Burkina Faso    Africa  1997  50.32400    10352843
202               Burkina Faso    Africa  2002  50.65000    12251209
203               Burkina Faso    Africa  2007  52.29500    14326203
204                    Burundi    Africa  1952  39.03100     2445618
205                    Burundi    Africa  1957  40.53300     2667518
206                    Burundi    Africa  1962  42.04500     2961915
207                    Burundi    Africa  1967  43.54800     3330989
208                    Burundi    Africa  1972  44.05700     3529983
209                    Burundi    Africa  1977  45.91000     3834415
210                    Burundi    Africa  1982  47.47100     4580410
211                    Burundi    Africa  1987  48.21100     5126023
212                    Burundi    Africa  1992  44.73600     5809236
213                    Burundi    Africa  1997  45.32600     6121610
214                    Burundi    Africa  2002  47.36000     7021078
215                    Burundi    Africa  2007  49.58000     8390505
216                   Cambodia      Asia  1952  39.41700     4693836
217                   Cambodia      Asia  1957  41.36600     5322536
218                   Cambodia      Asia  1962  43.41500     6083619
219                   Cambodia      Asia  1967  45.41500     6960067
220                   Cambodia      Asia  1972  40.31700     7450606
221                   Cambodia      Asia  1977  31.22000     6978607
222                   Cambodia      Asia  1982  50.95700     7272485
223                   Cambodia      Asia  1987  53.91400     8371791
224                   Cambodia      Asia  1992  55.80300    10150094
225                   Cambodia      Asia  1997  56.53400    11782962
226                   Cambodia      Asia  2002  56.75200    12926707
227                   Cambodia      Asia  2007  59.72300    14131858
228                   Cameroon    Africa  1952  38.52300     5009067
229                   Cameroon    Africa  1957  40.42800     5359923
230                   Cameroon    Africa  1962  42.64300     5793633
231                   Cameroon    Africa  1967  44.79900     6335506
232                   Cameroon    Africa  1972  47.04900     7021028
233                   Cameroon    Africa  1977  49.35500     7959865
234                   Cameroon    Africa  1982  52.96100     9250831
235                   Cameroon    Africa  1987  54.98500    10780667
236                   Cameroon    Africa  1992  54.31400    12467171
237                   Cameroon    Africa  1997  52.19900    14195809
238                   Cameroon    Africa  2002  49.85600    15929988
239                   Cameroon    Africa  2007  50.43000    17696293
240                     Canada  Americas  1952  68.75000    14785584
241                     Canada  Americas  1957  69.96000    17010154
242                     Canada  Americas  1962  71.30000    18985849
243                     Canada  Americas  1967  72.13000    20819767
244                     Canada  Americas  1972  72.88000    22284500
245                     Canada  Americas  1977  74.21000    23796400
246                     Canada  Americas  1982  75.76000    25201900
247                     Canada  Americas  1987  76.86000    26549700
248                     Canada  Americas  1992  77.95000    28523502
249                     Canada  Americas  1997  78.61000    30305843
250                     Canada  Americas  2002  79.77000    31902268
251                     Canada  Americas  2007  80.65300    33390141
252   Central African Republic    Africa  1952  35.46300     1291695
253   Central African Republic    Africa  1957  37.46400     1392284
254   Central African Republic    Africa  1962  39.47500     1523478
255   Central African Republic    Africa  1967  41.47800     1733638
256   Central African Republic    Africa  1972  43.45700     1927260
257   Central African Republic    Africa  1977  46.77500     2167533
258   Central African Republic    Africa  1982  48.29500     2476971
259   Central African Republic    Africa  1987  50.48500     2840009
260   Central African Republic    Africa  1992  49.39600     3265124
261   Central African Republic    Africa  1997  46.06600     3696513
262   Central African Republic    Africa  2002  43.30800     4048013
263   Central African Republic    Africa  2007  44.74100     4369038
264                       Chad    Africa  1952  38.09200     2682462
265                       Chad    Africa  1957  39.88100     2894855
266                       Chad    Africa  1962  41.71600     3150417
267                       Chad    Africa  1967  43.60100     3495967
268                       Chad    Africa  1972  45.56900     3899068
269                       Chad    Africa  1977  47.38300     4388260
270                       Chad    Africa  1982  49.51700     4875118
271                       Chad    Africa  1987  51.05100     5498955
272                       Chad    Africa  1992  51.72400     6429417
273                       Chad    Africa  1997  51.57300     7562011
274                       Chad    Africa  2002  50.52500     8835739
275                       Chad    Africa  2007  50.65100    10238807
276                      Chile  Americas  1952  54.74500     6377619
277                      Chile  Americas  1957  56.07400     7048426
278                      Chile  Americas  1962  57.92400     7961258
279                      Chile  Americas  1967  60.52300     8858908
280                      Chile  Americas  1972  63.44100     9717524
281                      Chile  Americas  1977  67.05200    10599793
282                      Chile  Americas  1982  70.56500    11487112
283                      Chile  Americas  1987  72.49200    12463354
284                      Chile  Americas  1992  74.12600    13572994
285                      Chile  Americas  1997  75.81600    14599929
286                      Chile  Americas  2002  77.86000    15497046
287                      Chile  Americas  2007  78.55300    16284741

#### 問題1-3
データフレームgapminderの'pop'カラムを、以下のようなカテゴリに分割してください。
- 'Low': 0-10,000,000
- 'Medium': 10,000,001-50,000,000
- 'High': 50,000,001 以上

In [50]:
pd.options.display.max_rows = 10

bins = [0,10000000,50000000,1000000000000000000]
labels = ['Low', 'Medium', 'High']
gapminder['pop_cat'] = pd.cut(gapminder['pop'], bins = bins, labels = labels)
print(gapminder)

          country continent  year  lifeExp       pop   gdpPercap iso_alpha  \
0     Afghanistan      Asia  1952   28.801   8425333  779.445314       AFG
1     Afghanistan      Asia  1957   30.332   9240934  820.853030       AFG
2     Afghanistan      Asia  1962   31.997  10267083  853.100710       AFG
3     Afghanistan      Asia  1967   34.020  11537966  836.197138       AFG
4     Afghanistan      Asia  1972   36.088  13079460  739.981106       AFG
...           ...       ...   ...      ...       ...         ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306       ZWE
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786       ZWE
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960       ZWE
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623       ZWE
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298       ZWE

      iso_num pop_cat
0           4     Low
1           4     Low
2           4  Medium
3           4  Medium
4           4  Medium
...       ...     ...
1699      716     Low
1700      716  Medium
1701      716  Medium
1702      716  Medium
1703      716  Medium

[1704 rows x 9 columns]

#### 問題1-4
データフレームgapminderの'pop'カラムを、人口が1000万人以上の国に対してはその値を2倍にし、それ以外の国に対してはそのままの値を持つ新しいカラムを作成してください。

In [51]:
def double_large_population(pop):
  if pop >=10000000:
    return pop*2
  else:
    return pop

gapminder['pop2'] = gapminder['pop'].apply(double_large_population)

In [52]:
print(gapminder)

          country continent  year  lifeExp       pop   gdpPercap iso_alpha  \
0     Afghanistan      Asia  1952   28.801   8425333  779.445314       AFG
1     Afghanistan      Asia  1957   30.332   9240934  820.853030       AFG
2     Afghanistan      Asia  1962   31.997  10267083  853.100710       AFG
3     Afghanistan      Asia  1967   34.020  11537966  836.197138       AFG
4     Afghanistan      Asia  1972   36.088  13079460  739.981106       AFG
...           ...       ...   ...      ...       ...         ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306       ZWE
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786       ZWE
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960       ZWE
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623       ZWE
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298       ZWE

      iso_num pop_cat      pop2
0           4     Low   8425333
1           4     Low   9240934
2           4  Medium  20534166
3           4  Medium  23075932
4           4  Medium  26158920
...       ...     ...       ...
1699      716     Low   9216418
1700      716  Medium  21408680
1701      716  Medium  22809896
1702      716  Medium  23853126
1703      716  Medium  24622286

[1704 rows x 10 columns]

### フィルタリング1(queryメソッド)
- .query('')で''の中に条件式を書くことで特定の条件を満たす行を抽出できます。

In [53]:
print(tips.query('tip > 5'))

     total_bill   tip     sex smoker  day    time  size  weekend bill_cat
23        39.42  7.58    Male     No  Sat  Dinner     4  weekend    31-40
44        30.40  5.60    Male     No  Sun  Dinner     4  weekend    31-40
47        32.40  6.00    Male     No  Sun  Dinner     4  weekend    31-40
52        34.81  5.20  Female     No  Sun  Dinner     4  weekend    31-40
59        48.27  6.73    Male     No  Sat  Dinner     4  weekend      41+
..          ...   ...     ...    ...  ...     ...   ...      ...      ...
183       23.17  6.50    Male    Yes  Sun  Dinner     4  weekend    21-30
211       25.89  5.16    Male    Yes  Sat  Dinner     4  weekend    21-30
212       48.33  9.00    Male     No  Sat  Dinner     4  weekend      41+
214       28.17  6.50  Female    Yes  Sat  Dinner     3  weekend    21-30
239       29.03  5.92    Male     No  Sat  Dinner     3  weekend    21-30

[18 rows x 9 columns]

In [54]:
tips.query('tip > 5 & smoker =="No"')#文字列は""で囲む

     total_bill   tip     sex smoker   day    time  size  weekend bill_cat
23        39.42  7.58    Male     No   Sat  Dinner     4  weekend    31-40
44        30.40  5.60    Male     No   Sun  Dinner     4  weekend    31-40
47        32.40  6.00    Male     No   Sun  Dinner     4  weekend    31-40
52        34.81  5.20  Female     No   Sun  Dinner     4  weekend    31-40
59        48.27  6.73    Male     No   Sat  Dinner     4  weekend      41+
..          ...   ...     ...    ...   ...     ...   ...      ...      ...
116       29.93  5.07    Male     No   Sun  Dinner     4  weekend    21-30
141       34.30  6.70    Male     No  Thur   Lunch     6  weekday    31-40
155       29.85  5.14  Female     No   Sun  Dinner     5  weekend    21-30
212       48.33  9.00    Male     No   Sat  Dinner     4  weekend      41+
239       29.03  5.92    Male     No   Sat  Dinner     3  weekend    21-30

[12 rows x 9 columns]

- 文字列の条件はstr.hoge()を使います。
    - 例えば、contains()は指定した文字（部分文字列）を含む文字列の値をもつ行を抽出します。

```{important}
- 文字列の条件を使う場合は末尾に、engine = "python"とする必要があります。

In [55]:
print(tips.query('day.str.contains("S")', engine = "python"))#contains()は指定した文字（部分文字列）を含む文字列の値をもつ行を抽出

     total_bill   tip     sex smoker  day    time  size  weekend bill_cat
0         16.99  1.01  Female     No  Sun  Dinner     2  weekend    11-20
1         10.34  1.66    Male     No  Sun  Dinner     3  weekend    11-20
2         21.01  3.50    Male     No  Sun  Dinner     3  weekend    21-30
3         23.68  3.31    Male     No  Sun  Dinner     2  weekend    21-30
4         24.59  3.61  Female     No  Sun  Dinner     4  weekend    21-30
..          ...   ...     ...    ...  ...     ...   ...      ...      ...
238       35.83  4.67  Female     No  Sat  Dinner     3  weekend    31-40
239       29.03  5.92    Male     No  Sat  Dinner     3  weekend    21-30
240       27.18  2.00  Female    Yes  Sat  Dinner     2  weekend    21-30
241       22.67  2.00    Male    Yes  Sat  Dinner     2  weekend    21-30
242       17.82  1.75    Male     No  Sat  Dinner     2  weekend    11-20

[163 rows x 9 columns]

### フィルタリング2
- query())を用いずにシリーズに条件式を適用し[]に入れる方法もあります。
- 例えば、tipが5より大きいという条件の場合、次のようにします。

In [56]:
tips[tips.tip > 5]

     total_bill   tip     sex smoker  day    time  size  weekend bill_cat
23        39.42  7.58    Male     No  Sat  Dinner     4  weekend    31-40
44        30.40  5.60    Male     No  Sun  Dinner     4  weekend    31-40
47        32.40  6.00    Male     No  Sun  Dinner     4  weekend    31-40
52        34.81  5.20  Female     No  Sun  Dinner     4  weekend    31-40
59        48.27  6.73    Male     No  Sat  Dinner     4  weekend      41+
..          ...   ...     ...    ...  ...     ...   ...      ...      ...
183       23.17  6.50    Male    Yes  Sun  Dinner     4  weekend    21-30
211       25.89  5.16    Male    Yes  Sat  Dinner     4  weekend    21-30
212       48.33  9.00    Male     No  Sat  Dinner     4  weekend      41+
214       28.17  6.50  Female    Yes  Sat  Dinner     3  weekend    21-30
239       29.03  5.92    Male     No  Sat  Dinner     3  weekend    21-30

[18 rows x 9 columns]

- 何が起きているかを確認します。
    - ここでは条件式がTrue, Falseを出力し、それが[]に入ることでデータが抽出される仕組みとなっています。

In [57]:
tips.tip > 5

0      False
1      False
2      False
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

```{note}
- 条件をつなげるときには、and条件の場合、()&()、or条件の場合()|()と書きます。"and"や"or"ではないので注意しましょう。

In [58]:
print(tips[(tips.tip > 5) | (tips.smoker == 'No')])#()がないとエラー#&でないとエラー

     total_bill   tip     sex smoker   day    time  size  weekend bill_cat
0         16.99  1.01  Female     No   Sun  Dinner     2  weekend    11-20
1         10.34  1.66    Male     No   Sun  Dinner     3  weekend    11-20
2         21.01  3.50    Male     No   Sun  Dinner     3  weekend    21-30
3         23.68  3.31    Male     No   Sun  Dinner     2  weekend    21-30
4         24.59  3.61  Female     No   Sun  Dinner     4  weekend    21-30
..          ...   ...     ...    ...   ...     ...   ...      ...      ...
235       10.07  1.25    Male     No   Sat  Dinner     2  weekend    11-20
238       35.83  4.67  Female     No   Sat  Dinner     3  weekend    31-40
239       29.03  5.92    Male     No   Sat  Dinner     3  weekend    21-30
242       17.82  1.75    Male     No   Sat  Dinner     2  weekend    11-20
243       18.78  3.00  Female     No  Thur  Dinner     2  weekday    11-20

[157 rows x 9 columns]

```{note}
- []で条件を与える場合、query()と異なり、str.hoge()を使うときにengine = "python"と書く必要ありません。

In [59]:
print(tips[tips.day.str.contains('S')])

     total_bill   tip     sex smoker  day    time  size  weekend bill_cat
0         16.99  1.01  Female     No  Sun  Dinner     2  weekend    11-20
1         10.34  1.66    Male     No  Sun  Dinner     3  weekend    11-20
2         21.01  3.50    Male     No  Sun  Dinner     3  weekend    21-30
3         23.68  3.31    Male     No  Sun  Dinner     2  weekend    21-30
4         24.59  3.61  Female     No  Sun  Dinner     4  weekend    21-30
..          ...   ...     ...    ...  ...     ...   ...      ...      ...
238       35.83  4.67  Female     No  Sat  Dinner     3  weekend    31-40
239       29.03  5.92    Male     No  Sat  Dinner     3  weekend    21-30
240       27.18  2.00  Female    Yes  Sat  Dinner     2  weekend    21-30
241       22.67  2.00    Male    Yes  Sat  Dinner     2  weekend    21-30
242       17.82  1.75    Male     No  Sat  Dinner     2  weekend    11-20

[163 rows x 9 columns]

```{adomonition} コメント
- queryを使う方法の方が可読性が高いので基本的には推奨します。
    - queryでは&, |の代わりにand, orを用いることもできます。
- ただし、queryで表現できない条件もあるので、その場合は[]の中に条件を書くやり方を用います。
```

### groupby（集団別操作）
- カテゴリごとの集計や平均などを出力したいときはgroupbyを用います。
- groupby('cat')['hoge'].mean()などとすると、catカテゴリの各メンバーのhoge変数の平均が出力されます。

In [60]:
tips.groupby('sex')['tip'].mean()#groupbyメソッドを使って、sex列でグループ化し、tip列の平均値を求めています。

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [61]:
tips.groupby('sex')['smoker'].count()#groupbyメソッドを使って、sex列でグループ化し、smoker列の値の数を求めています。

sex
Female     87
Male      157
Name: smoker, dtype: int64

In [62]:
tips.groupby('day').describe()#groupbyメソッドを使って、day列でグループ化し、describeメソッドを使って統計量を求めています。

     total_bill                                                             \
          count       mean       std   min      25%    50%      75%    max
day
Fri        19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat        87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun        76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17
Thur       62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11

       tip            ...                 size                                \
     count      mean  ...     75%    max count      mean       std  min  25%
day                   ...
Fri   19.0  2.734737  ...  3.3650   4.73  19.0  2.105263  0.567131  1.0  2.0
Sat   87.0  2.993103  ...  3.3700  10.00  87.0  2.517241  0.819275  1.0  2.0
Sun   76.0  3.255132  ...  4.0000   6.50  76.0  2.842105  1.007341  2.0  2.0
Thur  62.0  2.771452  ...  3.3625   6.70  62.0  2.451613  1.066285  1.0  2.0


      50%  75%  max
day
Fri   2.0  2.0  4.0
Sat   2.0  3.0  5.0
Sun   2.0  4.0  6.0
Thur  2.0  2.0  6.0

[4 rows x 24 columns]

#### applyとagg
- 自作関数を適用する場合はapply()を用います。
- 例えば、不偏分散を計算する自作関数を作って適用したい場合は以下のようにします。

In [63]:
import numpy as np
def unbiased_variance(x):
   y = sum((x - np.mean(x))**2)/(len(x) - 1)
   return y
tips.groupby('day')["total_bill"].apply(unbiased_variance)

day
Fri     68.934158
Sat     89.878338
Sun     78.006376
Thur    62.191683
Name: total_bill, dtype: float64

- agg()で変数ごとに異なる関数を適用することもできます。agg("var1":"hoge1","var2":"hoge2")と書きます。

In [64]:
tips.groupby('day').agg({"total_bill":unbiased_variance,"tip":"mean"})#備え付けの関数は""で囲む

      total_bill       tip
day
Fri    68.934158  2.734737
Sat    89.878338  2.993103
Sun    78.006376  3.255132
Thur   62.191683  2.771452

### 問題2
- 引き続き、gapminderデータセットを使ってデータフレームの操作の練習をする。

In [65]:
gapminder = px.data.gapminder()

#### 問題2-1
データセットの国別の平均GDP（gdpPercap）を求めてください。

In [66]:
gapminder.groupby('country')['gdpPercap'].mean()

country
Afghanistan            802.674598
Albania               3255.366633
Algeria               4426.025973
Angola                3607.100529
Argentina             8955.553783
                         ...
Vietnam               1017.712615
West Bank and Gaza    3759.996781
Yemen, Rep.           1569.274672
Zambia                1358.199409
Zimbabwe               635.858042
Name: gdpPercap, Length: 142, dtype: float64

#### 問題2-2
データセットから2007年のデータだけを抽出し、人口（pop）が上位10位の国をリストアップしてください。

In [67]:
gapminder.query('year==2007').nlargest(10,'pop')['country']

299             China
707             India
1619    United States
719         Indonesia
179            Brazil
1175         Pakistan
107        Bangladesh
1139          Nigeria
803             Japan
995            Mexico
Name: country, dtype: object

#### 問題2-3
データセットから、アジア（continentが'Asia'）の国のデータを抽出し、GDP（gdpPercap）が上位5位の国を2007年のデータに基づいてリストアップしてください。

In [68]:
gapminder.query('continent == "Asia"').query('year == 2007').nlargest(5,'gdpPercap')['country']

863               Kuwait
1367           Singapore
671     Hong Kong, China
803                Japan
95               Bahrain
Name: country, dtype: object

#### 問題2-4:
データフレームgapminderを、'continent'ごとにグループ化し、各大陸の平均寿命（'lifeExp'）の最大値と最小値を求めてください。
```{hint}
- max, minという関数が使えます。

In [69]:
gapminder.groupby('continent')['lifeExp'].agg(["max","min"])

              max     min
continent
Africa     76.442  23.599
Americas   80.653  37.579
Asia       82.603  28.801
Europe     81.757  43.585
Oceania    81.235  69.120

#### 例題
データフレームgapminderを、'year'ごとにグループ化し、各年の人口（'pop'）が最も高い上位3つの国名（'country'）を求めてください。

In [70]:
def top_5_countries_by_pop(group):
    top_5_countries = group.nlargest(5, 'pop')['country']
    return top_5_countries.tolist()

top_5_countries_by_year = gapminder.groupby('year').apply(top_5_countries_by_pop)
print(top_5_countries_by_year)

year
1952     [China, India, United States, Japan, Indonesia]
1957     [China, India, United States, Japan, Indonesia]
1962     [China, India, United States, Indonesia, Japan]
1967     [China, India, United States, Indonesia, Japan]
1972     [China, India, United States, Indonesia, Japan]
                              ...
1987    [China, India, United States, Indonesia, Brazil]
1992    [China, India, United States, Indonesia, Brazil]
1997    [China, India, United States, Indonesia, Brazil]
2002    [China, India, United States, Indonesia, Brazil]
2007    [China, India, United States, Indonesia, Brazil]
Length: 12, dtype: object

#### 問題2-5
データフレームgapminderを、'continent'ごとにグループ化し、各大陸のGDP（'gdpPercap'）が平均以上の国名（'country'）を求めてください。

In [71]:
def countries_with_above_aberage_gdp(group):
  avg_gdp = group['gdpPercap'].mean()
  return group[group['gdpPercap']>avg_gdp]['country'].tolist()
gapminder.groupby(['continent','year']).apply(countries_with_above_aberage_gdp)

continent  year
Africa     1952    [Algeria, Angola, Congo, Rep., Cote d'Ivoire, ...
           1957    [Algeria, Angola, Congo, Rep., Cote d'Ivoire, ...
           1962    [Algeria, Angola, Congo, Rep., Cote d'Ivoire, ...
           1967    [Algeria, Angola, Congo, Rep., Cote d'Ivoire, ...
           1972    [Algeria, Angola, Congo, Rep., Cote d'Ivoire, ...
                                         ...
Oceania    1987                                          [Australia]
           1992                                          [Australia]
           1997                                          [Australia]
           2002                                          [Australia]
           2007                                          [Australia]
Length: 60, dtype: object

### データフレームの作成、列名の変更
- データフレームの作成については、ディクショナリを使う方法と2次元リストから作る方法を紹介します。

- ディクショナリから作る場合、valueはリストとします。

In [72]:
data = {'name':['マックス', 'エミール', 'ゲオルグ', 'タルコット', 'ロバート'], 'birthyear':['1864','1858','1858','1902','1910']}

In [73]:
df = pd.DataFrame(data)
df

    name birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910

- リストから作る場合、2次元のリストを元とします。

In [74]:
data = [['マックス','1864'],
        ['エミール','1858'],
        ['ゲオルグ','1858'],
        ['タルコット','1902'],
        ['ロバート','1910']
         ]#リストのリストを作って…

In [75]:
df = pd.DataFrame(data, columns = ['name','birthyear'])#columnsで列名を指定してデータフレームを作成
df

    name birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910

-  列名の変更はcolumnsに直接代入するか、renameを用います。
-  例として次の列名をcolumnsに直接代入してみます。

In [76]:
df.columns = ['名前','誕生年']
df

      名前   誕生年
0   マックス  1864
1   エミール  1858
2   ゲオルグ  1858
3  タルコット  1902
4   ロバート  1910

-　いったんもとにもどして。

In [77]:
df.columns = ['name','birthyear']
df

    name birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910

- renameを使うと特定の列の名前だけを変更できます。

In [78]:
df.rename(columns = {'name':'名前'})#renameメソッドを使って列名を変更

      名前 birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910

### インデックスの設定と解除
- df.indexに直接代入してインデックス名の変更ができます。

In [79]:
df.index = ['A','B','C','D','E']
df

    name birthyear
A   マックス      1864
B   エミール      1858
C   ゲオルグ      1858
D  タルコット      1902
E   ロバート      1910

- set_index()を使うと、既存の列名をインデックスに使えます。

In [80]:
df = df.set_index('name')
df

      birthyear
name
マックス       1864
エミール       1858
ゲオルグ       1858
タルコット      1902
ロバート       1910

- reset_index()使うと、indexが数字になり、元のインデックス名は列変数になります。

In [81]:
df = df.reset_index()
df

    name birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910

### データフレームの結合
- ２つの異なるデータフレームを結合する方法をみてみます。
- まず、2つデータフレームを用意します。

In [82]:
name = ['マックス', 'エミール', 'ゲオルグ', 'タルコット', 'ロバート']
birthyear = ['1864','1858','1858','1902','1910']
last_name = ['ウェーバー','デュルケム','ジンメル','パーソンズ','マートン']
df1 = pd.DataFrame({'name':name,'birthyear':birthyear})
df2 = pd.DataFrame({'name':name,'last_name':last_name})

In [83]:
df1

    name birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910

In [84]:
df2

    name last_name
0   マックス     ウェーバー
1   エミール     デュルケム
2   ゲオルグ      ジンメル
3  タルコット     パーソンズ
4   ロバート      マートン

- 横に結語するには、pd.merge()として、結合したいデータフレームを引数に与え、'on'にkeyとして使う列名を指定します。

In [85]:
pd.merge(df1,df2,on = 'name')

    name birthyear last_name
0   マックス      1864     ウェーバー
1   エミール      1858     デュルケム
2   ゲオルグ      1858      ジンメル
3  タルコット      1902     パーソンズ
4   ロバート      1910      マートン

```{tips}
- df1.merge(df2)のような書き方も可能です。

In [86]:
df1.merge(df2, on = 'name')#こっちでも可

    name birthyear last_name
0   マックス      1864     ウェーバー
1   エミール      1858     デュルケム
2   ゲオルグ      1858      ジンメル
3  タルコット      1902     パーソンズ
4   ロバート      1910      マートン

- 縦に結合するには、concat()を使いますが、まず練習用の別のデータフレームを作ります。

In [87]:
df3 = pd.DataFrame({'name':['ガブリエル'],'birthyear':['1843']})
df3

    name birthyear
0  ガブリエル      1843

- concat()で結合します。引数はリスト([])となるので注意してください。

In [88]:
pd.concat([df1,df3])

    name birthyear
0   マックス      1864
1   エミール      1858
2   ゲオルグ      1858
3  タルコット      1902
4   ロバート      1910
0  ガブリエル      1843

## データフレームの結合（続き）
- キー（onに用いる変数）の値の集合が一致しないデータフレームを結合する場合、結合の仕方をいくつか指定する必要があります。

In [89]:
import pandas as pd

data1 = {
         'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
         'Age': [25, 30, 35, 40, 45]}

data2 = {
         'Name': ['Charlie', 'David', 'Eve', 'Frank', 'Grace'],
         'Salary': [50000, 60000, 70000, 80000, 90000]}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df1

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

In [90]:
df2

      Name  Salary
0  Charlie   50000
1    David   60000
2      Eve   70000
3    Frank   80000
4    Grace   90000


- 内部結合（inner join）:
    - 内部結合は、2つのデータフレームに共通のキーを持つ行だけを結果のデータフレームに含めます。

In [91]:
merged_df1 = pd.merge(df1, df2, on='Name', how='inner')
print(merged_df1)

      Name  Age  Salary
0  Charlie   35   50000
1    David   40   60000
2      Eve   45   70000

```{tip}
- merge()のデフォルトで何も指定しないと内部結合となります。

In [92]:
merged_df1 = pd.merge(df1, df2, on='Name')
print(merged_df1)

      Name  Age  Salary
0  Charlie   35   50000
1    David   40   60000
2      Eve   45   70000

- 外部結合（outer join）:
    - 外部結合は、2つのデータフレームのすべての行を結果のデータフレームに含めます。
    - キーが一致しない場合、キーの存在しない方のデータフレームの列変数の値は欠損となるため、欠損値（NaN）が結果のデータフレームに挿入されます。

In [93]:
merged_df2 = pd.merge(df1, df2, on='Name', how="outer")
print(merged_df2)

      Name   Age   Salary
0    Alice  25.0      NaN
1      Bob  30.0      NaN
2  Charlie  35.0  50000.0
3    David  40.0  60000.0
4      Eve  45.0  70000.0
5    Frank   NaN  80000.0
6    Grace   NaN  90000.0

- 左のデータフレームのキーに限ってすべて含める場合はleft join,右の場合はright joinといいます。

In [94]:
merged_df2 = pd.merge(df1, df2, on='Name', how="left")
print(merged_df2)

      Name  Age   Salary
0    Alice   25      NaN
1      Bob   30      NaN
2  Charlie   35  50000.0
3    David   40  60000.0
4      Eve   45  70000.0

In [95]:
merged_df2 = pd.merge(df1, df2, on='Name', how="right")
print(merged_df2)

      Name   Age  Salary
0  Charlie  35.0   50000
1    David  40.0   60000
2      Eve  45.0   70000
3    Frank   NaN   80000
4    Grace   NaN   90000

```{note}
- 結合後に名前の重複したコラムには接尾辞suffixesが自動で付与されます。

- 以下は、Nameという列名が重複する二つのデータフレームです。

In [96]:
data1 = {'ID': [1, 2, 3, 4, 5],
         'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
         'Age': [25, 30, 35, 40, 45]}

data2 = {'ID': [3, 4, 5, 6, 7],
         'Name': ['Charlie', 'David', 'Eve', 'Frank', 'Grace'],
         'Salary': [50000, 60000, 70000, 80000, 90000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

- 結語すると、_x, _yのようなSuffixesがつきます。

In [97]:
merged_df1 = pd.merge(df1, df2, on='ID')
print(merged_df1)

   ID   Name_x  Age   Name_y  Salary
0   3  Charlie   35  Charlie   50000
1   4    David   40    David   60000
2   5      Eve   45      Eve   70000

  - suffixes = ()で変更もできます。

In [98]:
merged_df1 = pd.merge(df1, df2, on='ID', suffixes = ('_left','_right'))
print(merged_df1)

   ID Name_left  Age Name_right  Salary
0   3   Charlie   35    Charlie   50000
1   4     David   40      David   60000
2   5       Eve   45        Eve   70000

## 問題3
### 例題　
gapminderデータセットから2002年と2007年のデータを抽出し、その期間でGDP（gdpPercap）が最も大きく増加した上位5位の国をリストアップしてください。

In [99]:
gapminder_2002 = gapminder[gapminder['year'] == 2002]
gapminder_2007 = gapminder[gapminder['year'] == 2007]

gdp_growth = gapminder_2007[['country', 'gdpPercap']].merge(gapminder_2002[['country', 'gdpPercap']], on='country', suffixes=('_2007', '_2002'))
gdp_growth['gdp_increase'] = gdp_growth['gdpPercap_2007'] - gdp_growth['gdpPercap_2002']
top_5_gdp_increase_countries = gdp_growth.nlargest(5, 'gdp_increase')['country'].tolist()
top_5_gdp_increase_countries

['Kuwait', 'Singapore', 'Hong Kong, China', 'Ireland', 'Trinidad and Tobago']

#### 問題3-1
 2007年のデータと、2002年のデータを抽出し、それぞれについて人口（pop）の上位10カ国を特定してください。次に、mergeを使用して、これらの2つの上位10カ国リストを比較し、両方のリストに含まれる国のデータを抽出してください。

In [100]:
# 問題1
df_2007 = gapminder[gapminder['year'] == 2007]
df_2002 = gapminder[gapminder['year'] == 2002]
top_10_pop_2007 = df_2007.nlargest(10, 'pop')
top_10_pop_2002 = df_2002.nlargest(10, 'pop')
common_top_10 = top_10_pop_2007.merge(top_10_pop_2002, on='country', suffixes=('_2007', '_2002'))
print("問題1:")
print(common_top_10[['country', 'pop_2007', 'pop_2002']])

問題1:
         country    pop_2007    pop_2002
0          China  1318683096  1280400000
1          India  1110396331  1034172547
2  United States   301139947   287675526
3      Indonesia   223547000   211060000
4         Brazil   190010647   179914212
5       Pakistan   169270617   153403524
6     Bangladesh   150448339   135656790
7        Nigeria   135031164   119901274
8          Japan   127467972   127065841
9         Mexico   108700891   102479927

#### 問題3-2
2007年のデータから、各大陸のGDP（gdpPercap）の平均を計算し、新しいデータフレームに格納してください。同様に、2002年のデータから各大陸のGDPの平均を計算し、別の新しいデータフレームに格納してください。merge関数を使用して、これら2つのデータフレームを結合し、各大陸の2002年と2007年のGDP平均の比較が可能な新しいデータフレームを作成してください。

In [101]:
# 問題3
continent_gdp_2007 = df_2007.groupby('continent')['gdpPercap'].mean().reset_index()
continent_gdp_2002 = df_2002.groupby('continent')['gdpPercap'].mean().reset_index()
merged_continent_gdp = continent_gdp_2007.merge(continent_gdp_2002, on='continent', suffixes=('_2007', '_2002'))
print("\n問題3:")
print(merged_continent_gdp)

問題3:
  continent  gdpPercap_2007  gdpPercap_2002
0    Africa     3089.032605     2599.385159
1  Americas    11003.031625     9287.677107
2      Asia    12473.026870    10174.090397
3    Europe    25054.481636    21711.732422
4   Oceania    29810.188275    26938.778040

#### 問題3-3
gapminderデータセットから2002年と2007年のデータを抽出し、その期間でGDP（gdpPercap）が最も大きく増加した上位5位の国をリストアップしてください。

In [102]:
gapminder_1977 = gapminder[gapminder['year'] == 1977]
gapminder_1997 = gapminder[gapminder['year'] == 1997]

gdp_growth = gapminder_1997[['country', 'gdpPercap']].merge(gapminder_1977[['country', 'gdpPercap']], on='country', suffixes=('_1997', '_1977'))
gdp_growth['gdp_decrease'] = gdp_growth['gdpPercap_1997'] - gdp_growth['gdpPercap_1977']
top_5_gdp_decrease_countries = gdp_growth.sort_values('gdp_decrease')['country'].tolist()[:5]
top_5_gdp_decrease_countries

['Kuwait', 'Saudi Arabia', 'Libya', 'Iraq', 'Gabon']